.expandedCardContainer {
  position: absolute;
  width: 60%;
  height: 70vh;
  z-index: 9;
  left: 13rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.expandedCardContainer > span:nth-of-type(1) {
  color: #fff;
  font-size: 1.625rem;
  font-weight: bold;
  text-shadow: 0rem 0rem 0.94rem #fff;
}

.expandedCardContainer > span:nth-of-type(2) {
  color: rgb(223, 222, 222);
  font-size: 1rem;
}

.expandedChartContainer {
  width: 70%;
}